apiVersion: v1
kind: ServiceAccount
metadata:
  name: aya-certbot
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: aya-certbot
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: aya-certbot
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: aya-certbot
subjects:
- kind: ServiceAccount
  name: aya-certbot
  namespace: default
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: aya-certbot
spec:
  rules:
  - http:
      paths:
      - path: /well-known
        backend:
          serviceName: aya-certbot
          servicePort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: aya-certbot
  labels:
    app: aya-certbot
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: aya-certbot
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: aya-certbot
spec:
  schedule: "{{ tls_certificates_renewal_schedule }}"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: aya-certbot
        spec:
          nodeSelector:
            aya/certbot_pods_node: "true"        
          serviceAccountName: aya-certbot
          initContainers:
          - name: certbot
            image: certbot/certbot
            command: ["/bin/sh"]
            args:
            - '-c'
            - '
                certbot renew
                --deploy-hook "echo $RENEWED_DOMAINS > {{ apps_dir }}/renewed_domains.txt"
              '
            volumeMounts:
            - name: apps
              subPath: etc/letsencrypt
              mountPath: /etc/letsencrypt
            - name: apps
              mountPath: {{ apps_dir }}
          containers:
          - name: kubectl
            image: bitnami/kubectl:{{ kubectl_version }}
            securityContext:
              runAsUser: 0
            command: ["/bin/bash"]
            args:
            - '-c'
            - '
                touch -a {{ apps_dir }}/renewed_domains.txt;
                echo "Updating tls secrets...";
                for DOMAIN in $(cat {{ apps_dir }}/renewed_domains.txt); do
                  kubectl create secret tls tls-$DOMAIN
                    --cert {{ apps_dir }}/etc/letsencrypt/live/$DOMAIN/fullchain.pem
                    --key  {{ apps_dir }}/etc/letsencrypt/live/$DOMAIN/privkey.pem
                    --dry-run -o yaml | kubectl apply -f -;
                done
              '
            volumeMounts:
            - name: apps
              mountPath: {{ apps_dir }}
          volumes:
          - name: apps
            persistentVolumeClaim:
              claimName: aya-apps
          restartPolicy: Never
