# https://github.com/helm/charts/tree/master/stable/nginx-ingress#configuration

controller:
  ## Node labels for controller pod assignment
  ## Ref: https://kubernetes.io/docs/user-guide/node-selection/
  ##
  nodeSelector:
    aya/nginx_ingress_controller_pods_node: "true"

  replicaCount:  {{ ( groups['nginx_ingress_controller_pods_nodes'] | length ) * 1 }}

  service:
    type: NodePort
    nodePorts:
      http: 32080
      https: 32443

## Enable RBAC as per https://github.com/kubernetes/ingress/tree/master/examples/rbac/nginx and https://github.com/kubernetes/ingress/issues/266
rbac:
  create: true
